language: objective-c
osx_image: xcode11.2

before_install:
  - gem install xcpretty

script:
  - set -o pipefail && xcodebuild -project ContactsApp.xcodeproj -scheme 'ContactsApp Test' build test | xcpretty -c
